.about_section {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 70px;
}
.abouth {
  color: var(--black, #333);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.aboutp {
  color: var(--black, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}
.aboutcompany {
  color: #f9b101;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.imga {
  width: 50vw;
}
.imgwrap {
  display: grid;
  grid-area: imgs;
  grid-template-columns: repeat(2, 1fr);
  
  grid-auto-rows: minmax(90px, auto);
  grid-template-areas:
    "big big"
    "big big"
    "kich1 kich2";
}
.imgwrap .bigimg {
  grid-area: big;
  padding: 5px;
  width: 595px;
}
.imgwrap .kichimg1 {
  grid-area: kich1;
  padding: 5px;
  width: 290px;
}
.imgwrap .kichimg2 {
  padding: 5px;
  width: 290px;
  grid-area: kich2;
}

.about_page_info_wrap {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}
.project_info_title {
  position: relative;
}
.project_info_title::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #b7883c;
  border-radius: 50%;
}
.about_page_wrap h2 {
  font-weight: 700;
  font-size: 40px;
  color: #333;
}
.about_page_desc div p {
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #444;
}
.about_page_content {
  display: grid;
  grid-column-start: auto;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(88px, auto);
  grid-template-areas: "imgs text text";
}
.textwrap {
  grid-area: text;
}
.project_info_title h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}
.project_info_title p {
  font-size: 15px;
  font-weight: 400;
  color: #444;
}
@media (max-width: 1024px) {
  .about_page_content {
    grid-template-areas:
      "imgs"
      "text";
    row-gap: 20px;
  }
  .project_info_title {
    margin-left: 25px;
  }
}
@media (max-width: 800px) {
  .about_page_wrap h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 25px;
    color: #333;
  }
  .about_section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .abouth{
    font-size: 24px;
    width: 90vw
  }
}
